<% layout("layout/boilerplate") -%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label"><h5>Title</h5></label>
            <input name="listing[title]" value="<%=listing.title %>" class="form-control" required>
            <div class="invalid-feedback">Please Enter a valid Title</div>
        </div>
        
        <div class="mb-3">
            <label for="Description" class="form-label"><h5>Description</h5></label>
            <textarea name="listing[description]"><%=listing.description%></textarea class=form-control required>
           <div class="invalid-feedback">Please Enter a valid Description</div>     
        </div>
        
        <div class="mb-3">
            <label for="Image" class="form-label"><h5>Image</h5></label>
            <input name="listing[image][url]" value="<%= listing.image.url%>" placeholder="Enter Image URL/Link" class="form-control" required>
        </div>


        <div class="mb-3">
            <label for="price" class="form-label"><h5>Price</h5></label>
 <input name="listing[price]" value="<%=listing.price%>" class="form-control" required>
 <div class="invalid-feedback">Please Enter a valid Price</div>
        </div>
       
        <div class="mb-3">
            <label for="location" class="form-label"><h5>Location</h5></label>
            <input name="listing[location]" value="<%=listing.location%>" class="form-control" required>
            <div class="invalid-feedback">Please Enter a valid Location</div>
        </div>
        
        <div class="mb-3">
            <label for="country" class="form-label"><h5>Country</h5></label>
        <input name="listing[country]" value="<%=listing.country%>" class="form-control" required>
        <div class="invalid-feedback">Please Enter a valid Title</div>
        </div>
        

        <button class="btn btn-primary add-btn">Edit</button>

    </form>
    </div></div>
</body>
