<% layout("layout/boilerplate") -%>
<script>
  const mapToken="<%=process.env.MAP_BOX%>";
  const coordinates= <%- JSON.stringify(listing.geometry.coordinates) %>;
</script>
<div class="container mt-5">
    <h2 class="mb-4 text-center">Listing Details</h2>

    <div class="row g-4">
        
        <div class="col-md-6">
            <div class="card shadow-sm border-0">
                <img src="<%= listing.image.url %>" 
                     class="card-img-top show-img" 
                     alt="<%= listing.title %>">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow-sm border-0 p-4">
                <h3 class="card-title mb-3"><%= listing.title %></h3>
                <i><h6>Owned By:</h6><%=listing.owner.username%></i>
                <br>
                <p class="card-text text-muted"><%= listing.description %></p>
                <p class="price-tag">₹<%= listing.price.toLocaleString("en-IN") %></p>
                <p><i class="bi bi-geo-alt-fill text-danger"></i> <%= listing.location %>, <%= listing.country %></p>
              
                <% if(currUser && currUser._id.equals(listing.owner._id)) { %>


                <div class="d-flex gap-3 mt-4">
                    <a href="/listings/<%= listing._id %>/edit" class="btn btn-warning">
                        <i class="bi bi-pencil-square"></i> Edit
                    </a>
                    <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE" class="m-0">
                        <button type="submit" class="btn btn-danger">
                            <i class="bi bi-trash"></i> Delete
                        </button>
                    </form>
                </div>
                <%}%>
            </div>
        </div>
    </div>
    
<hr>
<div>
  <% if(currUser) {%>
    <h4>Leave a review</h4>
    <form action="/listings/<%= listing._id %>/reviews" method="POST" 
        novalidate class="needs-validation">
         <div  class="mb-3 mt-3">
          <label for="rating" class="form-label">Rating</label>
        <fieldset class="starability-slot">
  <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
  <input type="radio" id="first-rate1" name="review[rating]" value="1" />
  <label for="first-rate1" title="Terrible">1 star</label>
  <input type="radio" id="first-rate2" name="review[rating]" value="2" />
  <label for="first-rate2" title="Not good">2 stars</label>
  <input type="radio" id="first-rate3" name="review[rating]" value="3" />
  <label for="first-rate3" title="Average">3 stars</label>
  <input type="radio" id="first-rate4" name="review[rating]" value="4" />
  <label for="first-rate4" title="Very good">4 stars</label>
  <input type="radio" id="first-rate5" name="review[rating]" value="5" />
  <label for="first-rate5" title="Amazing">5 stars</label>
</fieldset>
</div>

        <div class="mb-3 mt-3">
            <label for="comment" class="form-label">Comments</label>
            <textarea name="review[comment]"
            id="comment"
            cols="10" rows="5"
            class="form-control" required
            ></textarea>
             <div class="invalid-feedback">Please submit review</div>
        </div>
        <button type="submit" class="btn btn-danger">Submit</button>
    </form>
    <%}%>
</div>

<hr>
<% if(listing.reviews.length >0) {%>
<h4 class="mt-4 mb-3 fw-bold text-primary">Guest Reviews</h4>

<div class="row">
  <% for (let review of listing.reviews) { %>
    <div class="col-md-6 mb-4">
      <div class="card shadow-sm border-0 rounded-4 review-card">
        <div class="card-body">
          <!-- Reviewer Name -->
          <h5 class="card-title text-secondary mb-2">
            <i class="bi bi-person-circle me-2 text-primary"></i> 
            <%= review.author.username %>
          </h5>

            <!-- Rating -->
          <div class="d-flex align-items-center mb-3">
            <p class="starability-result card-text" data-rating= <%= review.rating %>>
          </div>

          <!-- Review Comment -->
          <p class="card-text text-muted fst-italic">
            "<%= review.comment %>"
          </p>
          

          <!-- Delete Button -->
           <% if(currUser) { %>
          <form method="POST" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE" class="mt-2">
            <button type="submit" class="btn btn-outline-danger btn-sm delete-btn">
              <i class="bi bi-trash3-fill me-1"></i> Delete Review
            </button>
          </form>
        <%}%>
        </div>
         <% } %>
      </div>
    </div>
  <% } %>
  </div>
    <div class="col-3 offset-2 mb-4">
    <h3>Where you'll be</h3>
    <div id="map">

    </div>
</div>
 <script src="/js/map.js"></script>
